<include file="Public/head"/>

<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{:U('index/index')}">首页</a>
                    </li>

                    <li>
                        <a href="#">系统设置</a>
                    </li>
                    <li class="active">开发日志</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="layui-card">
                        <div class="layui-card-header">更新日志 &nbsp;<button data-toggle="modal" data-target="#myModalp" type="button" class="bbtn bbtn-info" style="width: 73px;min-height: 28px;margin-top: -5px;vertical-align: inherit;" >提交日志</button></div>
                        <div class="layui-card-body">
                            <ul class="layui-timeline">
                                <volist name="log" id="vol">
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">{$vol.v} &nbsp;{:date("Y-m-d",$vol['t'])}</h3>
                                        <ul>
                                           {$vol.log}
                                        </ul>
                                    </div>
                                </li>
                                </volist>
                               
                            </ul>
                        </div>
                    </div>
                   <!--  <script src="/static/layui/layui.js"></script> -->
                    <!-- <script>
                        layui.config({base: '/static/'}).extend({common: 'js/common'}).use(['common'], function() {
                            var common = layui.common;

                        });
                    </script> -->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->
<!-- 密码修改Modal -->
  <div class="modal fade" id="myModalp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">提交日志</h4>
        </div>
        <div class="modal-body">
          <form action="{:U('Update/addlog')}" method='post' class="form-horizontal" id='form-pass'>
            <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label">标题</label>
          <div class="col-sm-7">
            <input type="text" class="form-control vip" id="input11" name="v" value="" >
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">内容</label>
          <div class="col-sm-7">
            <textarea name="log" id="log" class="col-xs-12 col-sm-12" rows="5"><li>实例1</li>
<li>实例2</li>
<li>实例3</li>
            </textarea>
          </div>
        </div>
         
      
<!--           <input type="hidden" name="uid" id="uid" value="">
          <input type="hidden" name="username" id="username" value=""> -->
        
          </form>
        </div>
        <div class="modal-footer">       
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" form="form-pass" >提交</button>
        </div>
      </div>
    </div>
  </div>
<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    // $(function () {
    //     $(".number").click(function () {
    //         $(this).parent().find(".version,.time,.log").toggle(500);
    //     })
    // })
</script>
</body>
</html>
